{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="container-caption">
        <div class="container text-center">
            {{ error_message }}
            <form class="form-signin" action="login" method="post">
                {% csrf_token %}

                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                {{ log_form.username }} </br>
                {{ log_form.password }} </br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button></br>
                <a href='/register'>GOTO: Register page</a>
            </form>
        </div>
    </div>
</body>

</html>