{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div class="container-caption">
        <div class="container text-center">
            {{ error_message }}
            <form class="form-signin m-5" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
                {{ reg_form.email }}</br>
                {{ reg_form.username }}</br>
                {{ reg_form.password }}</br>
                {{ reg_form.confirm_password }} </br>
                {{ reg_form.role }} </br>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Regiester</button></br>
                <a href='/login'>GOTO Login Page</a>
            </form>
        </div>
    </div>
</body>

</html>