<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>

<body>
    <p>Hello, {{ username }}!</p>
    {% if role == 'cus' %}
    {% if customer_orders_count %}
    <p>>>> You have {{ customer_orders_count }} order(s) </p>
    {% else %}
    <p>>>> Your order list is empty</p>
    {% endif %}
    <ul>
        {% for order in customer_orders %}
        <li>{{ order.customer_telling }}</li>
        {% endfor %}
    </ul>
    <form method='post'>
        {% csrf_token %}
        {{ happened_form.what_happened }}
        <input type='submit' value='Tell us!!!'>
    </form>
    {% endif %}

    {% if role == 'emp' %}
    <p>Hello, employee! Time to work.</p>
    <ul>
        {% for order in customer_orders %}
        <li> {{order.customer_telling }}</br>
            {{ order.customer.username }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if role == 'adm' %}
    <p>Hello, admin!</p>
    {% endif %}

    <a href='/logout'>Log out</button>

</body>

</html>