<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <style>
        body{
            background-color: bisque;

            /* for phone customer */
            position: relative; 
        }
        .column {
            float: left;
            width: 50%;
        }

            /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        .customer{
            align-items: center;
        }
        .phone_customer{
            font-size: large;
            position: absolute;
            top:0px;
            right:0px;
        }
    </style>
</head>

<body>
    <p>Logged in {{ user.username }}!</p>
    <!-- CUSTOMER CASE -->
    <div class='customer'>
        {% if user.role == 'cus' %}
            {% if customer_orders_count %}
                <p>>>> You have {{ customer_orders_count }} order(s) </p>
            {% else %}
                <p>>>> Your order list is empty</p>
            {% endif %}
        <ul>
            {% for order in customer_orders %}
                <li>What? : {{ order.customer_telling }}</br>
                    When? : {{ order.creation_date}} </br>
                    Type? : {{ order.order_type.order_type }}</br>
                    Status? : {{ order.order_status.order_status }}</br>
                    <a href='/delete/orders/{{ order.pk }}'>Delete this request</a>
                </li>
            {% endfor %}
        </ul>
        <form method='post'>
            {% csrf_token %}
            {{ happened_form.what_happened }}

            <input type='submit' name='tell_us' value='Tell us!!!'>
        </form>
    </div>
    {% endif %}
    <!-- END OF CUSTOMER CASE -->

    <!-- EMPLOYEE CASE -->
    {% if user.role == 'emp' %}
        <p>Hello, employee! Time to work.</p>
        <div class='row'>
            <!-- LEFT COLUMN -->
            <div class='column' style="background-color: azure;">
                {% if order_and_its_form %}
                    <div class='filters'>
                        Only date filter is available</br>
                        From <a href="#">Begin_date</a> to <a href="#">End_date</a>
                    </div>
                    <p>There is some orders, that customers have left</p>
                        <!-- dicts with form mapping -->
                        <ul>
                            {% for form, order in order_and_its_form.items %}
                                <li style='padding:0 0 25pt 0'> 
                                    
                                    Customer "{{ order.customer.username }}" said: {{ order.customer_telling }} </br>
                                    <p style='margin:0 0 0 0'><u>Info about the Order:</u></p>
                                    <p style='margin:0 0 0 0'>It was created: {{ order.creation_date }}</p>
                                    <p style='margin:0 0 0 0'>Its type: {{ order.order_type.order_type }}</p>
                                    <p style='margin:0 0 0 0'>Its status: {{ order.order_status.order_status }}</p>
                                    <p style='margin:0 0 0 0'></p>

                                    <p style='margin:0 0 0 0'><u>What can you do:</u></p>
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form.order_type }} </br>
                                        {{ form.order_status }}
                                        <input name='order_pk' type='hidden' value='{{ order.pk }}'>
                                        <input type='submit' name='change_order' value='Take the order'>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                {% else %}
                <p>Customers are inactive :(<p>
                {% endif %}
            </div>
            <!-- ENF OF LEFT COLUMN  -->

            <!-- RIGHT COLUMN -->
            <div class='column' style="background-color: cornsilk;">
            {% if choosen_orders_and_its_form %}
                <div class='filters'>
                    All filters are available</br>
                    From <a href="#">Begin_date</a> to <a href="#"></a> Type Status
                </div>
                <p>There is some orders, that you have choosen</p>
                <!-- dicts with form mapping -->
                {% for each in customer_orders %}
                    {{ each }}
                {% endfor %}
                <ul>
                    {% for form, order in choosen_orders_and_its_form.items %}
                        <li style='padding:0 0 25pt 0'> 
                            Customer "{{ order.customer.username }}" said: {{ order.customer_telling }} </br>
                            <p style='margin:0 0 0 0'><u>Info about the Order:</u></p>
                            <p style='margin:0 0 0 0'>It was created: {{ order.creation_date }}</p>
                            <p style='margin:0 0 0 0'>Its type: {{ order.order_type.order_type }}</p>
                            <p style='margin:0 0 0 0'>Its status: {{ order.order_status.order_status }}</p>
                            <p style='margin:0 0 0 0'></p>
                            <a href='/delete/orders/{{ order.pk }}'>Delete this request</a></br>
                            <a href='/leave/orders/{{ order.pk }}'>Leave this request</a>
                            <p style='margin:0 0 0 0'><u>What can you do:</u></p>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.order_type }} </br>
                                {{ form.order_status }}
                                <input name='order_pk' type='hidden' value='{{ order.pk }}'>
                                <input type='submit' name='change_order' value='Change the order'>
                            </form>
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>You haven't choosen any order from our customers!</p>
                <p>To choose one change order type for any order in forms on the left side of the monitor</p>
                <p>You can't see orders, that another employee has taken. So, don't worry about it.</p>
                <p>Don't forget about filters!</p>
            {% endif %}
            </div>
            <!-- END OF RIGHT COLUMN -->
        </div>
    <div class='phone_customer'>
        <form method='post' action='/create_by_phone_number'>
            <div>
                {% csrf_token %}
                <p style='margin: 0 0 0 0'>If you are being called </br>you can create a new account for the customer </br>and automatically create a new order </p>
                <input type='text' name='phone_number' placeholder="number">
                <input type='text' name='what_happened' placeholder="what happened with customer">
                <input type='hidden' name=employee_pk value='{{ user.pk }}'>
                <input type='submit' name=phone_button value='Create'>
            </div>
        </form>
    </div>
    {% endif %}

    <!-- END OF EMPLOYEE CASE-->

    {% if user.role == 'adm' %}
        <p>Hello, admin!</p>
    {% endif %}

    <a href='/logout'>Log out</button>

</body>

</html>